body{
    background: goldenrod;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-weight: bold;
}

h4{
    color: burlywood;
}

#camera{
    width: 500px;
    height: 400px;
    border: 1px solid rgb(103, 205, 103);
}

img{
    width: 37%;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 6px 8px 0 rgb(78, 161, 203,0.2);
}

.column{
    display: inline;
    padding: 10px;
}

img:hover{
    border-radius: 140px;
}

.copy_right_footer{
    position: fixed;
    color: brown;
    bottom: 0;
    width: 100%;
    background-color: darkorange;
    line-height: 3;
    text-align: center;
}

